body {
    margin: 0 auto;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    height: 200px;
}

.header {
    background-image: url('D:\\xampp\\htdocs\\lab0\\865109.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    height: 500px;
}

.bar {
    height: 75px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 40px;
}

li {
    list-style-type: none;
    font-family: cursive;
    font-size: 25px;
    color: white;
    margin-left: 15px;
    padding: 10px;
}

.li5 {
    border: 2px solid white;
    border-radius: 25px;
}

.main {
    margin: 75px 100px;
    height: 700px;
    background-color: gray;
}

p {
    background-color: khaki;
    height: 400px;
    margin-bottom: 100px;
}

.col {
    background-color: tomato;
    border: 2px solid black;
    width: calc(50% - 10px);
}

.footer {
    height: 100px;
    background-color: black;
}